body { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFFFFF; 
    	text-decoration: none; 
}

.secureSubHead { 
	font-size: 11px;
	font-weight: bold;
    	color: #FFCE00; 
    	text-decoration: none; 
 }

.secureText { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFFFFF; 
    	text-decoration: none; 
    	
}

.secureSmall { 
	font-size: 9px; 
	font-weight: normal; 
	color: #ffce00; 
}

.secureTextError { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFAB00; text-decoration: none} 
    	
TD.secureText { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFFFFF; text-decoration: none}    	
    	
link.secureText { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFFFFF; text-decoration: none}
    	    	
.secureButton { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 13px;
	font-weight: bold;
    	color: #FFFFFF; text-decoration: none}
.offerHead { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 15px;
	font-weight: bold;
    	color: #FF0000; 
    	text-decoration: none; 
    	
}
.offerSubHead { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: bold;
    	color: #FF0000; 
    	text-decoration: none; 
    	
}
.offerText { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #000000; 
    	text-decoration: none; 
    	
}
.subscribeButton { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 13px;
	font-weight: bold;
    	color: #595959; text-decoration: none}  

select {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt; 
}

select.drop_small { 
	height: 20px; 
	width: 40px}
	
select.drop_year { 
	height:30px; 
	width: 40px}	
	
select.dropWide { 
	height: 20px; 
	width: 250px}

select.drop { 
	height: 20px; 
	width: 80px}

select.box {
	width: 175px; 
}

input.box { 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	height: 20px; 
	width: 175px}
	
input.box-med { 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	height: 20px; 
	width: 100px}	

input.box_small { 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	height: 20px; 
	width: 40px}

textarea.small {
	height: 50px; 
}


td.navigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #FFAB00; font-weight: normal; text-decoration: none}
a.navigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #FFAB00; font-weight: normal; text-decoration: none}    
a:link.navigation { 

font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #FFAB00; font-weight: normal; text-decoration: none}	


a.navigation:hover {
font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #F3E1BE; font-weight: normal; text-decoration: none}	

a.followed.navigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #FFAB00; font-weight: normal; text-decoration: none}  
    
td.footerNavigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #B493C0; font-weight: normal; text-decoration: none}
a.footerNavigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #B493C0; font-weight: normal; text-decoration: none}    
a:link.footerNavigation { 

font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #B493C0; font-weight: normal; text-decoration: none}	


a:hover.footerNavigation {
font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #F3E1BE; font-weight: normal; text-decoration: none}	

a.followed.footerNavigation { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
    color: #B493C0; font-weight: normal; text-decoration: none}


		


		


#toon_dropshadow {z-index:1;
	PADDING-RIGHT: 16px; DISPLAY: inline;  LEFT: 147px; OVERFLOW: auto; WIDTH: 720px;  POSITION: absolute; TOP: 166px; HEIGHT: 395px; BACKGROUND-COLOR: #4b356a
		}
#toon_cardborder {z-index:2;
	PADDING-RIGHT: 16px; DISPLAY: inline; LEFT: 141px; OVERFLOW: auto; WIDTH: 720px;  POSITION: absolute; TOP: 160px; HEIGHT: 395px; BACKGROUND-COLOR: #ffffff
		}
#toon_content {z-index:3;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 151px; OVERFLOW: auto; WIDTH: 700px; POSITION: absolute; TOP: 170px; HEIGHT: 375px; BACKGROUND-COLOR: #0580A8
		}
	       
#toon_content_red {z-index:4;
	PADDING-RIGHT: 0px; DISPLAY: inline; LEFT: 151px; OVERFLOW: auto; WIDTH: 700px; POSITION: absolute; TOP: 170px; HEIGHT: 375px; BACKGROUND-COLOR: #C80000
		}
#toon_content_intro {z-index:3;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 151px; OVERFLOW: auto; WIDTH: 700px; POSITION: absolute; TOP: 170px; HEIGHT: 375px; BACKGROUND-COLOR: #532F5C
		}
		
#flash_skyscraper_bg {z-index:5;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 3px; OVERFLOW: auto; WIDTH: 134px;   POSITION: absolute; TOP: 160px; HEIGHT: 440px
		}  
				
#flash_rightbanners_bg {z-index:6;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 868px; OVERFLOW: auto; WIDTH: 134px;   POSITION: absolute; TOP: 160px; HEIGHT: 440px
		} 
#toon_pictures {z-index:7;
	overflow-X:HIDDEN; overflow-y:HIDDEN; PADDING-RIGHT: 16px; DISPLAY: inline; LEFT: 151px; WIDTH: 700px; POSITION: absolute; TOP: 170px; HEIGHT: 375px
	}
#toon_offers {z-index:7;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 345px; OVERFLOW: auto; WIDTH: 350px; POSITION: absolute; TOP: 15px; HEIGHT: 350px; BACKGROUND-COLOR: #FFFFFF
		}
#toon_offers_promo {z-index:7;
	PADDING-RIGHT: 0px; DISPLAY: inline;  LEFT: 345px; OVERFLOW: auto; WIDTH: 350px; POSITION: absolute; TOP: 15px; HEIGHT: 350px; BACKGROUND-COLOR: #FFFFFF MARGINTOP: 0px
		}		
#toon_flash {z-index:8;
	PADDING-RIGHT: 16px; DISPLAY: inline; LEFT: 136px; OVERFLOW: auto; WIDTH: 750px; POSITION: absolute; TOP: 158px; HEIGHT: 445px
		}

#toon_flippy1 {z-index:9;
	overflow-X:HIDDEN; overflow-y:HIDDEN; PADDING-RIGHT: 16px; DISPLAY: inline; LEFT: -5 px; OVERFLOW: auto; WIDTH: 146 px; POSITION: absolute; TOP: 160px; HEIGHT: 445px
	       }
#toon_flippy2 {z-index:10;
	overflow-X:HIDDEN; overflow-y:HIDDEN; PADDING-RIGHT: 16px; DISPLAY: inline; LEFT: 863 px; OVERFLOW: auto; WIDTH: 146 px; POSITION: absolute; TOP: 160px; HEIGHT: 445px
	       }
#toon_left_flashBanner {z-index:9;
	overflow-X:HIDDEN; overflow-y:HIDDEN; PADDING-RIGHT: 20px; DISPLAY: inline; LEFT: 8 px; OVERFLOW: auto; WIDTH: 120 px; POSITION: absolute; TOP: 160px; HEIGHT: 445px
	       }
#toon_right_flashBanner {z-index:10;
	overflow-X:HIDDEN; overflow-y:HIDDEN; PADDING-RIGHT: 20px; DISPLAY: inline; LEFT: 873 px; OVERFLOW: auto; WIDTH: 120 px; POSITION: absolute; TOP: 160px; HEIGHT: 445px
	       }	       
	       
#LayerPin  {z-index:11;
	   position:absolute; width:64px; height:62px;  left: 458px; top: 129px
	   }
#LayerPlayNow {z-index:12;
		position:absolute; width:133px; height:48px;  left: 745px; top: 127px
		} 

#LayerLogo {z-index:13;
	   position:absolute; width:200px; height:88px; left: 120px; top: 128px
	   }

	
a.pop {
	color: #ffffff; 
	text-decoration: underline; 
}

a.pop:hover {
	text-decoration: underline; 
}

img {
	border: 0px; 
}

hr {
	color: #ffce00; 
	margin: 0px 0px 0px 0px; 
	padding: 0px; 
	height: 1px; 
}

h2 {
	padding: 0px 0px 10px 10px; 
	margin: 5px; 
}

h3 {
	color: #ffce00; 
}

td {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #FFFFFF; text-decoration: none
}

td.form {
	margin: 10px 0px 10px 10px; 
	padding: 0px 5px 6px 0px; 
}

td.form-label {
	width: 430px; 
	margin: 10px 0px 10px 10px; 
	padding: 0px 5px 8px 0px; 
}

td.form-field {
	text-align: right; 
	margin: 10px 0px 10px 10px; 
	padding: 0px 5px 8px 0px; 
}


.btn-blue {
	padding: 0px 10px 5px 10px;
	background: url(secure/images/btn/btn_blue_mid.gif);
	text-align: center; 
}

.btn-yellow {
	padding: 0px 10px 5px 10px;
	background: url(secure/images/btn/btn_yellow_mid.gif);
	text-align: center; 
}


.btn-white {
	padding: 0px 10px 5px 10px;
	background: url(secure/images/btn/btn_white_mid.gif);
	text-align: center; 
}

.btn-orange {
	padding: 0px 10px 5px 10px;
	background: url(secure/images/btn/btn_orange_mid.gif);
	text-align: left; 
	width: 100%; 
	color: #000; 
}

.btn-orange a {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #000; 
    	text-decoration: none; 
}

.btn-orange a:hover {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #000; 
    	text-decoration: underline; 
}

.btn-orange u {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: bold;
    	color: #000; 
    	text-decoration: underline; 
}

.box-yellow {
	background: url(secure/images/t12/box_yellow_blue_mid.gif); 
}

.box-yellow a {
	color: #595959; 
	text-decoration: none; 
}

.box-yellow a:hover {
	color: #595959; 
	/*text-decoration: underline; */
}

.box-yellow h2 {
	padding: 0px 0px 5px 5px; 
	margin: 0px;
	font-size: 11px;
	font-weight: bold;
    	color: #595959;
}

#bubble {
	position: absolute; 
	top: 140px; 
	left: 220px; 
	z-index: 1; 
}

#bubble-content { 
	width: 300px; 
	height: 150px; 
	position: absolute; 
	top: 170px; 
	left: 215px; 
	z-index: 3; 
}

#bubble-content td {
	text-align: center; 
	color: #000; 
}

#flippy {
	position: absolute; 
	margin: 0px; 
	padding: 0px;
	top: 144px; 
	left: 535px; 
	z-index: 2; 
}

#popuparea {
	position: absolute; 
	top: 110px; 
	left: 40px; 
	width: 274px; 
}

#popupclose {
	position: absolute; 
	top: 70px; 
	left: 290px; 
}
textarea.legalText { 

	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
    	color: #000000; text-decoration: none}